@model BasePackageModule3.Models.Update
@{
    ViewData["Title"] = @Model.Title;
}



<div class="section py-5">

    <div class="container">

        <div class="row">

            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        <h3 class="py-2">@Model.Title</h3>

                        <figure class="figure-img py-4">
                            <img class="img-responsive" width="100%" style="height: 20rem;" src="@Model.Image" alt="">

                        </figure>
                        <div class="card-footer" style="margin-top: -44px !important;">
                            <h3><span class="badge badge-secondary" style="font-size:50% !important;">@Model.CreatedDate.ToLongDateString()</span></h3>
                        </div>

                        @Html.Raw(Model.Content)
                    </div>
                </div>

                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-4 mt-3">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_telegram"></a>
                    <a class="a2a_button_google_gmail"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
                <!-- AddToAny END -->

            </div>


            <div class="col-md-4">



                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Most Recent Update</h2>
                    </div>

                    @foreach (Update post in ViewBag.Updates)
                    {
                        <div class="post post-widget" style="    margin-bottom: 40px;">
                            <a class="post-img" style="    width: 90px; display: block ; float: left;  margin-right: 15px;" asp-controller="Update" asp-action="Details" asp-route-id="@post.Id" >
                                <img height="90" width="90" src="@post.Image" alt="@post.Title">
                            </a>
                            <div class="post-body">
                                <h3 class="post-title" style=" font-weight: 700; color: #212631; margin: 0 0 15px;">
                                    <a style="font-weight: 600; color: #212631;  text-decoration: none;" asp-controller="Update" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
                                </h3>
                            </div>
                        </div>
                        <div style="content: ''; display: block; clear: both;"></div>
                        <hr />
                    }

                </div>

            </div>

        </div>

    </div>

</div>
