@model ApplicationUser

@{
    ViewData["Title"] = "Details";
}
<div id="kt_content_container" class="container-xxl">
    <!-- Zero config.table start -->
    <div class="card mb-5 mb-xl-8">
        <div class="card-body py-3">

            <h1>Details</h1>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
    </div>

