
@model BasePackageModule2.Models.Seo


<title>@Model.MetaTitle</title>

<meta name="description" content="@Model.MetaDiscription" />
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="@Model.CanonicalTag" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="@Model.OgTitle" />
<meta property="og:description" content="@Model.OgDescription" />
<meta property="og:url" content="@Model.OgUrl" />
<meta property="og:site_name" content="@Model.OgSiteName" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="@Model.MetaTwitterDescription" />
<meta name="twitter:title" content="@Model.TwitterTitle" />
<meta name="msvalidate.01" content="@Model.MsValidate" />
<meta name="google-site-verification" content="@Model.GSiteVerivation" />
