
@model Address

@{
    ViewData["Title"] = "Checkout";
}


<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Checkout" asp-action="Index">Checkout</a></li>
            <li class="breadcrumb-item active" aria-current="page">Address</li>
        </ol>
    </div><!-- End .container -->
</nav>
<div class="page-content">
    <div class="checkout">
        <div class="container ">
            <div class="row">

                @foreach (var item in ViewBag.Addresses)
                {
                    <div class="col-md-6">
                        <div style="border: solid 1px gray; padding: 20px">
                            <h3>@item.Name @item.MobileNumber</h3>
                            <p>@item.MainAddress @item.City @item.State - @item.PinCode</p>

                            <a class="btn btn-outline-primary-2 btn-order btn-block mb-2 mt-3" asp-controller="Checkout" asp-action="PaymentOptions" asp-route-addressId="@item.Id">Deliver to this Address</a>

                          
                            <a href="/Identity/Account/Manage/EditAddress/@item.Id" class="btn btn-outline-primary-2 btn-order btn-block">Edit</a>

                        </div>
                    </div>
                }

            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-9 col-lg-9" style="margin-bottom:6rem;">
                    <h2 class="text-center main-title text-dark">Add a new Address</h2>
                    <form asp-action="Address">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileNumber" class="control-label"></label>
                            <input asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PinCode" class="control-label"></label>
                            <input asp-for="PinCode" class="form-control" />
                            <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Locality" class="control-label"></label>
                            <input asp-for="Locality" class="form-control" />
                            <span asp-validation-for="Locality" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MainAddress" class="control-label"></label>
                            <input asp-for="MainAddress" class="form-control" />
                            <span asp-validation-for="MainAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Landmark" class="control-label"></label>
                            <input asp-for="Landmark" class="form-control" />
                            <span asp-validation-for="Landmark" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlternatePhone" class="control-label"></label>
                            <input asp-for="AlternatePhone" class="form-control" />
                            <span asp-validation-for="AlternatePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Deliver to this Address" class="btn btn-outline-primary-2 btn-order btn-block" />
                        </div>
                    </form>
                </div>
                @*<div class="col-md-6">
                    <h2 class="text-center main-title text-dark">Pick Up From Store</h2>
                    <div style="border: solid 1px gray; padding: 20px">
                        <p>

                        </p>


                        <a class="btn btn-success " asp-action="CheckOutOptions" asp-controller="CheckOut"> <span><i class="fas fa-store mr-2"></i></span>Pick up From Store</a>
                        <br />

                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


