@using BasePackageModule2.Areas.Identity.Pages.Account.Manage
@using BasePackageModule2.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@*<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a style="border-radius:0px;width:200px;border-top:1px solid;" class="btn btn-color text-start @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a style="border-radius:0px;width:200px;border-top:1px solid;" class="btn btn-color text-start @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a style="border-radius:0px; width:200px;border-top:1px solid;" class="btn btn-color text-start @ManageNavPages.AddressNavClass(ViewContext)" id="address" asp-page="./Address">Address</a></li>
    <li class="nav-item"><a style="border-radius:0px;width:200px;border-top:1px solid;" class="btn btn-color text-start @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
  
</ul>*@

<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

    <li class="nav-item">
        <a class="nav-link active @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link @ManageNavPages.OrdersNavClass(ViewContext)" id="orders" asp-page="./Orders">My Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.AddressNavClass(ViewContext)" id="address" asp-page="./Address">Address</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ForgotPasswordNavClass(ViewContext)" id="forgot-password" asp-page="./ForgotPassword">Forgot Password ?</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" onclick="document.getElementById('logout').submit();return false;">Log Out</a>
        <form id="logout" class="d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post">
            <button type="submit" class="nav-link btn btn-link dropdown-item">Logout</button>
        </form>
    </li>

    @*<li class="nav-item">
            <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sign Out</a>
        </li>*@
</ul>