@model IEnumerable<BasePackageModule3.Models.Item>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <form method="post" id="list-item" style="     background-color: #ffffff;
     margin: 0px;
     font-family: Raleway;
     padding: 0px;
     width: 100%;
     min-width:0px;">
            <article class="card card-product-list post menu-product">
                <div class="row no-gutters">
                    <aside class="col-md-3">
                        <a href="#" class="img-wrap">

                            <img src="@Url.Content(item.Image)" class="img-fluid">
                        </a>
                    </aside> <!-- col.// -->
                    <div class="col-md-6">
                        <div class="info-main" style="margin: 0.7rem; margin-top: 3rem;">
                            @*<span>Category :@Model.FirstOrDefault().Category.Name</span>  <br />*@
                            <a href="#" class="h5 title"> @item.Name  </a>
                            <!-- rating-wrap.// -->

                            <p style="line-height:1.6rem;margin-top:20px;">
                                @if (item.Description != null)
                                {
                                    @if (item.Description.Length > 161)

                                    {
                                        @Html.Raw(item.Description.Substring(0, 161))<text>......</text>

                                    }
                                    else
                                    {
                                        @Html.Raw(item.Description)

                                    }
                                }
                            </p>
                        </div> <!-- info-main.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3 border-left">
                        <div class="info-aside" style="margin:20px;">
                            <div class="price-wrap">
                                <span class="price h5" id="amount"> Rs. @item.Price </span>

                            </div> <!-- info-price-detail // -->
                            <p class="text-success">Free shipping</p>
                            <br>
                            <p>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-block"> Details </a>
                                @*<a href="#" class="btn btn-light btn-block border">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="text">Add To Cart</span>
                                    </a>*@
                                <a class="btn btn-lg btn-outline-primary text-uppercase mt-2"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                            </p>
                        </div> <!-- info-aside.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article>
        </form>
    }
}

