@model BasePackageModule3.ViewModels.OrderDetailsCart

@{
    ViewData["Title"] = "Index";
}
<style>
    

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
</style>
    <form method="post" style=" margin: 0px !important; 
     font-family: Raleway; 
     padding: 0px !important; 
     width: 100%; 
     min-width: 0px!important;">

        @if (Model.listCart.Count > 0)
        {
            <br />
            <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
            <div class="container mb-4">
                <div class="card shopping-cart">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Shipping cart
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm float-right">Continiu shopping</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="card-body">
                        @foreach (var cart in Model.listCart)
                        {
                            <!-- PRODUCT -->
                            <div class="row mb-2">



                                <div class="col-12 col-sm-12 col-md-2 text-center">
                                    <img class="img-responsive rounded" src="@Url.Content(cart.Item.Image)" alt="prewiew" width="120" height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                                    <h4 class="product-name"><strong>@cart.Item.Name</strong></h4>
                                    <h4>
                                        <small>@cart.Item.Description</small>
                                    </h4>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                        <h6><strong>@cart.Item.Price<span class="text-muted">x</span>@cart.Count</strong></h6>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4" style="margin-top:8px;">
                                        
                                            <button type="submit" value="+" class="plus" style="color:white;padding: 7px;
    border-radius: 4px;
    padding-bottom: 1px;
    padding-top: 2px;" asp-action="plus" asp-route-cartId="@cart.Id">

                                                <span><i class="fa fa-plus"></i></span>
                                            </button>
                                            <button type="submit" value="-" class="minus btn-danger" style="color:white;padding: 7px;
    border-radius: 4px;
    padding-bottom: 1px;
    padding-top: 2px;" asp-action="minus" asp-route-cartId="@cart.Id"><span><i class="fa fa-minus"></i></span></button>
                                            
                                        
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-2 text-right">
                                            <button type="submit" asp-action="remove" asp-route-cartId="@cart.Id" class="btn btn-outline-danger btn-xs">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                            <hr />
                        }
                        <hr>
                         
                        <hr>
                        <!-- END PRODUCT -->
                        <div class="pull-right">
                            <a href="" class="btn btn-outline-secondary pull-right">
                                Update shopping cart
                            </a>
                        </div>
                    </div>
                    <div class="card-footer" style="padding:2rem;">
                        <div class="coupon col-md-12 col-lg-12 col-sm-12 no-padding-left pull-left">
                            <div class="row">
                                <div class="col-4">
                                    <input asp-for="@Model.OrderHeader.CouponCode" id="textCouponCode" class="form-control" placeholder="cupone code">
                                </div>
                                <div class="col-4">
                                    <button type="submit" id="btnCoupon" asp-controller="Cart" asp-action="AddCoupon" class="btn btn-primary">Apply Coupon</button>
                                </div>
                                <div class="col-4">
                                    <button type="submit" style="display:none;" id="btnRemoveCoupon" asp-controller="Cart" asp-action="RemoveCoupon" class="btn btn-danger">Remove Coupon</button>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="card-footer">
                        <a asp-action="Summary" asp-controller="Cart" class="btn btn-success pull-right">Checkout</a>
                        <div class="pull-right" style="margin: 5px">
                            Total price Rs.: <b> @Model.OrderHeader.OrderTotal Rs.</b>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
        }
    </form> 




<script>
    $(function () {
        var couponCode = document.getElementById("textCouponCode").value;
        if (couponCode.length > 0) {
            document.getElementById('btnCoupon').style.display = "none";
            document.getElementById('btnRemoveCoupon').style.display = "";

        }
        else {
             document.getElementById('btnCoupon').style.display = "";
            document.getElementById('btnRemoveCoupon').style.display = "none";
        }
    })
</script>
