@using BasePackageModule2.Models
@model BasePackageModule2.Models.Post
@{ ViewData["Title"] = @Model.Title;
}

@if (Model != null)
{
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}


<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        @if (Model != null)
        {
            <h1 class="page-title">@Model.Title</h1>
        }

    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="Index">Blog</a></li>
            @if (Model != null)
            {
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            }
            </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                @if (Model != null)
                {
                    <article class="entry single-entry">
                        <figure class="entry-media">
                            <img src="@Model.Image" alt="image desc">
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                           

                            

                            <div class="entry-content editor-content">
                                 
                                  @Html.Raw(Model.Content)
                              </div>
                        </div><!-- End .entry-body -->

                        <!-- End .entry-author-details-->
                    </article>
                }
                <!-- End .entry -->

                <!-- End .pager-nav -->

                <div class="related-posts">
                    <h3 class="title">Related Posts</h3><!-- End .title -->

                    <div class="owl-carousel owl-simple" data-toggle="owl"
                         data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":1
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            }
                                        }
                                    }'>

                        @foreach (var item in ViewBag.Posts)
                        {
                            <article class="entry entry-grid">
                                <figure class="entry-media">
                                    <a href="single.html">
                                        <img src="@item.Image" alt="image desc">
                                    </a>
                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a href="#">Nov 22, 2018</a>
                                       
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" asp-route-Slug="@item.Slug">@item.Title</a>
                                    </h2><!-- End .entry-title -->

                                  
                                </div><!-- End .entry-body -->
                            </article>
                        }
                        <!-- End .entry -->

                      
                    </div><!-- End .owl-carousel -->
                </div><!-- End .related-posts -->
            
            </div><!-- End .col-lg-9 -->

            <!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">@Model.Title</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Home</a>/</li>
                    <li><a asp-action="index" asp-controller="Blog">Blog</a>/</li>
                    <li><span>@Model.Title</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->

<!-- CONTAINER END -->
