@model X.PagedList.IPagedList<BasePackageModule2.Models.Post>
@using X.PagedList.Mvc.Core

<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Latest Updates<span>Blog</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Blog">Blog</a></li>

        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <!-- End .blog-nav -->

        <div class="entry-container max-col-3" data-layout="fitRows">

            @foreach (var blog in Model)
            {
                <div class="entry-item  shopping col-sm-6 col-lg-4">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <a asp-controller="Blog" asp-action="Details" asp-route-Id="@blog.Id" asp-route-Slug="@blog.Slug">
                                <img src="@blog.Image" style="cursor:pointer;" alt="@blog.Title">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">

                                <span class="meta-separator">|</span>
                                <a asp-controller="Blog" asp-action="Details" asp-route-Id="@blog.Id" asp-route-Slug="@blog.Slug">@blog.CreatedAt.Month @blog.CreatedAt.Day, @blog.CreatedAt.Year</a>
                                <span class="meta-separator">|</span>

                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title">
                                <a asp-controller="Blog" asp-action="Details" asp-route-Id="@blog.Id" asp-route-Slug="@blog.Slug">@blog.Title</a>
                            </h2><!-- End .entry-title -->



                            <div class="entry-content">
                                <p>@blog.ShortDescription</p>
                                <a asp-controller="Blog" asp-action="Details" asp-route-Id="@blog.Id" asp-route-Slug="@blog.Slug" class="read-more">Continue Reading</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div>
            }

        </div><!-- End .entry-container -->

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                @Html.PagedListPager(Model, pageindex => Url.Action("Index", new { pageindex, pageSize = ViewBag.PerPageItems, orderby = ViewBag.orderby }), new X.PagedList.Mvc.Core.Common.PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })



            </ul>
        </nav>
    </div><!-- End .container -->
</div><!-- End .page-content -->