@model IEnumerable<Address>

@{
    ViewData["Title"] = "Addresses";
}

<section id="content" class="site-content product-image-summary col-md-12 col-xs-12">
    <div class="product">
        <div class="woocommerce-tabs vertical-product-tabs wc-tabs-wrapper">
           
            <div class="tab-panels col-sm-8 col-xs-12">
                <div class="panel entry-content wc-tab" id="tab-description" style="display: block;">

                    @foreach (var item in Model)
                    {
                        <div style="border: solid 1px gray; padding: 20px">
                            <h3>@item.Name @item.MobileNumber</h3>
                            <p>@item.MainAddress @item.City @item.State - @item.PinCode</p>

                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                        </div>

                    }

                    <div>
                        <h3><a asp-action="Create">Add new Address</a></h3>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
