@model BasePackageModule1.Models.HomeBussinessGrowth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeBussinessGrowth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BussinessGrowthTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BussinessGrowthTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IconShortDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
