@model IEnumerable<Order>
@{ ViewData["Title"] = "Orders"; }

<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">History<span>Orders</span></h1>
    </div><!-- End .container -->
</div>
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Checkout" asp-action="Index">Order History</a></li>
            
        </ol>
    </div><!-- End .container -->
</nav>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="table-responsive p-3">
                    @if (Model.Any())
                    {

                        <table class="table table-striped gy-7 gs-7">
                            <thead>
                                <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                    <th class="min-w-200px">Order Id</th>
                                    <th class="min-w-400px">Product Image</th>
                                    <th class="min-w-100px">Product Name</th>
                                    <th class="min-w-200px">Qunantity</th>
                                    <th class="min-w-200px">Price</th>
                                    <th class="min-w-200px">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    foreach (var item in order.OrderProducts)
                                    {
                                        @if (item != null)
                                        {
                                            <tr>

                                                <td>@order.Id</td>
                                                <td><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id"><img src="@item.Product.Image" height="80" width="80" alt="prod1" /></a></td>
                                                <td>@item.Product.Name</td>
                                                <td> @item.Quantity</td>
                                                <td>@order.Amount</td>
                                                <td>@order.Date.ToShortDateString()</td>
                                            </tr>
                                        }
                                    }
                                }
                              
                            </tbody>
                        </table>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
<!--Cart Start -->

<!-- Cart End -->