
@model X.PagedList.IPagedList<BasePackageModule3.Models.Item>
@using X.PagedList.Mvc.Core

<div class="container mt-4 mb-4">

    @if (Model.Any())
            {
                <div class="row">
                    <aside class="col-md-9">
                @foreach (var item in Model)
                {
                    <form method="post" id="list-item" style="     background-color: #ffffff;
                             margin: 0px;
                             font-family: Raleway;
                             padding: 0px;
                             width: 100%;
                             min-width:0px;">
                        <article class="card card-product-list post menu-product">
                            <div class="row no-gutters">
                                <aside class="col-md-3" style=" text-align: center; padding: 20px;">
                                    <a asp-controller="products" asp-action="details" asp-route-id="@item.Id" class="img-wrap">

                                        <img style="max-height: 200px" src="@Url.Content(item.Image)" class="img-fluid">
                                    </a>
                                </aside> <!-- col.// -->
                                <div class="col-md-6">
                                    <div class="info-main" style="margin: 0.7rem; margin-top: 3rem;">
                                        @*<span>Category :@Model.FirstOrDefault().Category.Name</span>  <br />*@
                                        <a asp-controller="products" asp-action="details" asp-route-id="@item.Id" class="h5 title"> @item.Name  </a>
                                        <!-- rating-wrap.// -->

                                        <p style="line-height:1.6rem;margin-top:20px;">
                                            @if (item.Description != null)
                                            {
                                                @if (item.Description.Length > 161)

                                                {
                                                    @Html.Raw(item.Description.Substring(0, 161))<text>......</text>

                                                }
                                                else
                                                {
                                                    @Html.Raw(item.Description)

                                                }
                                            }
                                        </p>
                                    </div> <!-- info-main.// -->
                                </div> <!-- col.// -->
                                <aside class="col-sm-3 border-left">
                                    <div class="info-aside" style="margin:20px;">
                                        <div class="price-wrap">
                                            <span class="price h5" id="amount"> Rs. @item.Price </span>

                                        </div> <!-- info-price-detail // -->
                                        <p class="text-success">Free shipping</p>
                                        <br>
                                        <p>
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-block"> Details </a>
                                            @*<a href="#" class="btn btn-light btn-block border">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="text">Add To Cart</span>
                                        </a>*@
                                            <a asp-controller="Products" asp-action="AddToCart" asp-route-productId="@item.Id" class="btn btn-lg btn-outline-primary text-uppercase mt-2"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                                          
                                        </p>
                                       
                                    </div> <!-- info-aside.// -->
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                        </article>
                    </form>
                }
                <nav class="m-5" style="text-align: center">
                    @Html.PagedListPager(Model, pageindex => Url.Action("Index",
                        new { pageindex, pageSize = ViewBag.PerPageItems, orderby = ViewBag.orderby }),
                        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" }
                        })
                </nav>
                    </aside>
                    <aside class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Price range</h5>
                                <form method="get">
                                    <input type="text" class="js-range-slider"
                                           data-type="double"
                                           data-min="500"
                                           data-max="20000"
                                           data-from="@ViewBag.minPrice"
                                           data-to="@ViewBag.maxPrice"
                                           data-grid="false" />
                                    <input type="hidden" name="category" value="@ViewBag.category"/>
                                    <input type="hidden" id="min_price" name="minPrice" value="@ViewBag.minPrice">
                                    <input type="hidden" id="max_price" name="maxPrice" value="@ViewBag.maxPrice">

                                    <button type="submit" class="btn btn-block btn-primary mt-4">Apply</button>
                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
            }
    else
    {
        <div class="row m-5">
            <div class="col-md-12">
                <h4 class="text-center">No Products found...</h4>
            </div>
        </div>
    }



          
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>


    <script>

        $(".js-range-slider").ionRangeSlider({
            skin: "big",
            onStart: function (data) {
                $('#min_price').val(data.from);
                $('#max_price').val(data.to);
            },
            onChange: function (data) {
                //console.dir(data);
                $('#min_price').val(data.from);
                $('#max_price').val(data.to);
            }
        });

    </script>
    }