@model IEnumerable<BasePackageModule3.Models.Post>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center"> Blog</h2>
        </div>
    </div>
</div>

<div class="container py-5">
        <div class="row">

            @foreach (var item in Model)
            {


                <div class="col-md-4">
                    <div class="post" style="    margin-bottom: 40px;">
                        <a class="post-img" asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" asp-route-slug="@item.Slug">
                            <img class="img-fluid card-img-top" style="height: 20rem;" src="@Url.Content(item.Image)" alt="">
                        </a>
                        <div class="post-body">
                            <div class="post-meta" style="    margin-top: 15px;
                                          margin-bottom: 15px;">
                                <span class="post-date">@item.CreatedAt.ToLongDateString()</span>
                            </div>
                            <h3 class="post-title">
                                <a style="  font-size: 18px;      font-weight: 600;
            color: #212631;
            text-decoration: none;" asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Title</a>
        </h3>
    </div>
    </div>
    </div>

    }

        </div>
    </div>

