@model IEnumerable<BasePackageModule1.Models.Post>

<div class="breadcrumb-area" style="background-image:url(theme/assets/img/breadcrumb/01.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb-inner">
                    <span>Latest Blog</span>
                    <h2 class="page-title">Whats going around us in recent time</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-120 padding-bottom-170">
    <div class="row">

        @foreach (var item in Model)
        {


            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@item.Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.MetaDescription</p>

                        <div class="btn-wrapper">
                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" class="boxed-btn">View More</a>
                            <a href="#" class="card-link ml-4">@item.CreatedAt.Date.ToShortDateString()</a>
                        </div>
                        

                    </div>
                </div>
      
             
                </div>
}

    </div>
</div>

