@model IEnumerable<BasePackageModule2.Models.Order>

@{
    ViewData["Title"] = "NewOrder";
}




<div class=" container-fluid  mt-lg-5">
    <a asp-action="OrderHistory" class="btn btn-outline-dark btn-lg  "> <i class="fa fa-history"></i> ShipRocket Placeorder History</a>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Address.MainAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <a asp-action="ShipRocketOrder" asp-route-id="@item.Id" class="btn btn-outline-dark btn-lg  "> <i class="fas fa-edit"></i> Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>