@model IEnumerable<BasePackageModule1.Models.CounterSection>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="card">
    <table id="simpletable" class="table table-striped table-bordered nowrap" style="font-size:13px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Heading)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subheading)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BtnText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BtnLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountDescription)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Heading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subheading)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BtnText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BtnLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        
                        
                    </td>
                    <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
