@page
@model LoginModel
@using BasePackageModule2.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@using BasePackageModule2.Utility
@using Microsoft.EntityFrameworkCore
@inject IHttpContextAccessor HttpContextAccessor

@{ var user = await UserManager.Users.Include(a => a.Cart).FirstOrDefaultAsync(a => a.Id == UserManager.GetUserId(User)); }

@{
    Layout = "~/Views/Shared/_MasterThemeLayout.cshtml";
}



@if (SignInManager.IsSignedIn(User))
{
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-8 ">
                            <div class="form-box">
                                <p>You Log In ! Visit </p>
                                <a href="/Home/Index" class=" btn  btn-outline-dark-2">Home</a> | <a href="/Home/Index" class="btn  btn-outline-dark-2">Home</a>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      }

                                else
                                {
                                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                                    <div class="container">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>

                                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                                        </ol>
                                    </div><!-- End .container -->
                                </nav><!-- End .breadcrumb-nav -->
                                <!-- CONTAIN START -->
                                <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-8 col-md-8 ">
                                                        <div class="form-box">
                                                            <form class="main-form full" method="post">
                                                                <div class="row">
                                                                    <div class="col-12 mb-20">
                                                                        <div class="heading-part heading-bg">
                                                                            <h3 class="heading text-center">Customer Login</h3>
                                                                        </div>
                                                                    </div>
                                                                    <div asp-validation-summary="All" class="text-danger"></div>
                                                                    <div class="col-12">
                                                                        <div class="input-box">
                                                                            <label for="login-email">Email address</label>
                                                                            <input id="login-email" class="form-control" type="email" asp-for="Input.Email" required placeholder="Email Address">
                                                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="input-box">
                                                                            <label for="login-pass">Password</label>
                                                                            <input id="login-pass" class="form-control" type="password" asp-for="Input.Password" required placeholder="Enter your Password">
                                                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="check-box left-side">
                                                                            <span>
                                                                                <input type="checkbox" asp-for="Input.RememberMe" id="remember_me" class="checkbox">
                                                                                <label for="remember_me">Remember Me</label>
                                                                            </span>
                                                                        </div>
                                                                        <button name="submit" type="submit" class="btn btn-outline-primary-2">Log In</button>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <a title="Forgot Password" class="forgot-password mtb-20" asp-page="./ForgotPassword">Forgot your password?</a>
                                                                        <hr>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="new-account align-center mt-20"> <span>Not Registered?</span> <a class="link" title="Register with Roadie" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create New Account</a> </div>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    @{
                                                                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                                                <div>
                                                                                    <p>
                                                                                        @foreach (var provider in Model.ExternalLogins)
                                                                                        {
                                                                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                                                        }
                                                                                    </p>
                                                                                </div>
                                                                            </form>
                                                                        }
                                                                    }
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CONTAINER END -->
                                }






                                <partial name="_ValidationScriptsPartial" />



