@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}



<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Login</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a href="index.html">Home</a>/</li>
                    <li><span>Login</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="checkout-section ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-8 ">
                        <form class="main-form full" method="post">
                            <div class="row">
                                <div class="col-12 mb-20">
                                    <div class="heading-part heading-bg">
                                        <h2 class="heading">Customer Login</h2>
                                    </div>
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-12">
                                    <div class="input-box">
                                        <label for="login-email">Email address</label>
                                        <input id="login-email" type="email" asp-for="Input.Email" required placeholder="Email Address">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-box">
                                        <label for="login-pass">Password</label>
                                        <input id="login-pass" type="password" asp-for="Input.Password" required placeholder="Enter your Password">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="check-box left-side">
                                        <span>
                                            <input type="checkbox" asp-for="Input.RememberMe" id="remember_me" class="checkbox">
                                            <label for="remember_me">Remember Me</label>
                                        </span>
                                    </div>
                                    <button name="submit" type="submit" class="btn-color right-side">Log In</button>
                                </div>
                                <div class="col-12">
                                    <a title="Forgot Password" class="forgot-password mtb-20" asp-page="./ForgotPassword">Forgot your password?</a>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <div class="new-account align-center mt-20"> <span>New to Spinners?</span> <a class="link" title="Register with Roadie" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create New Account</a> </div>
                                </div>
                            </div>
                            <div class="text-center">
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {

                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTAINER END -->



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


